@import "colors";



.cart{
    // background-color: $lightorange;
       background: linear-gradient(to right,  $darkorange, $orange,   darkorange );
    width: 100%;
    height: 100vh;



    >main{
        width: 50%;
        height: 100%;
        background-color: white;
        max-width: 80rem;
        margin:  auto;
        padding: 2rem;

        
>article{

    div{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
    }

    a{
        
        padding: 0.4rem;
       display: block;
       width: 30%;
       text-align: center;
       margin-top: 0.5rem;
       color: white;
      font-weight: 400;
      letter-spacing: 2px;
       border-radius: 5px;
        background-color: $orange;
        &:hover{
            background-color: $darkorange;
            color: black;
        }

    }
}

    }



}



.cartItems{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 183, 0, 0.847);
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow:0 0px 2px rgba(0, 0, 0, 0.371);
  

    >div{
        display: flex;
        justify-content: center;
        align-items: center;

        >img{
            height: 3rem;
        }

        >h4{
            font-weight: 200;
            letter-spacing: 2px;
        }

        >input{
            background-color: white;
            padding: 0.5rem;
            margin: 0.25rem;
            width: 2rem;
            height: 2rem;
            outline: none;
            border: none;
          
            text-align: center;

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }

           
        }
        >button{
            padding: 0.4rem;
            border: none;
            cursor: pointer;
            background-color: $dark;
            color: white;
            
        }

    }
}
@media screen and (max-width:600px) {
    .cartItems{
        margin: 1rem 0;
        padding: 1rem 2rem;
        
    }
    .cart{
        >main{
            width: 100%;
        }
    }
    
}